<!-- itrc_tools/templates/itrc_tools/login.html -->

{% extends "itrc_tools/base_itrc.html" %} {% block itrc_content %}
<div class="pilarease-itrc-login-container animate__animated animate__fadeIn">
  <h2 class="pilarease-itrc-login-title">ITRC Tools Login</h2>
  <form method="post" class="pilarease-itrc-login-form">
    {% csrf_token %} {{ form.non_field_errors }}

    <div class="pilarease-itrc-form-group">
      <label for="id_username">Username:</label>
      {{ form.username }} {% if form.username.errors %}
      <div class="pilarease-itrc-error">{{ form.username.errors }}</div>
      {% endif %}
    </div>

    <div class="pilarease-itrc-form-group">
      <label for="id_password">Password:</label>
      {{ form.password }} {% if form.password.errors %}
      <div class="pilarease-itrc-error">{{ form.password.errors }}</div>
      {% endif %}
    </div>

    <button type="submit" class="pilarease-itrc-action-button login-button">
      <i class="bx bxs-lock-alt"></i> Login
    </button>
  </form>
</div>

<!-- Toastr Notifications -->
{% if messages %}
<script>
  $(document).ready(function() {
      {% for message in messages %}
          toastr.options.closeButton = true;
          toastr.options.progressBar = true;
          toastr.options.positionClass = "toast-bottom-right";
          toastr.options.showDuration = 300;
          toastr.options.hideDuration = 1000;
          toastr.options.timeOut = 5000;
          toastr.options.extendedTimeOut = 1000;
          toastr.options.showEasing = "swing";
          toastr.options.hideEasing = "linear";
          toastr.options.showMethod = "fadeIn";
          toastr.options.hideMethod = "fadeOut";

          {% if message.tags == 'success' %}
              toastr.success("{{ message|escapejs }}", "Success");
          {% elif message.tags == 'error' %}
              toastr.error("{{ message|escapejs }}", "Error");
          {% elif message.tags == 'warning' %}
              toastr.warning("{{ message|escapejs }}", "Warning");
          {% elif message.tags == 'info' %}
              toastr.info("{{ message|escapejs }}", "Information");
          {% endif %}
      {% endfor %}
  });
</script>
{% endif %} {% endblock %}
