<!-- itrc_tools/templates/itrc_tools/notifications.html -->
{% extends "itrc_tools/base_itrc.html" %} {% load static %} {% load i18n %}
{%block page_title%}Notifications{% endblock %} {% block itrc_content %}
<div class="pilarease-itrc-content notifications-container">
  <h1 class="pilarease-itrc-section-title">All Notifications</h1>
  <button
    id="markAllAsRead"
    class="pilarease-itrc-action-button"
    style="margin-bottom: 10px"
  >
    Mark All as Read
  </button>

  <div class="notifications-list">
    {% for notification in itrc_notifications %}
    <div
      class="notification-item {% if not notification.is_read %}unread{% else %}read{% endif %}"
      data-id="{{ notification.id }}"
    >
      <div class="notification-avatar">
        {% if notification.user.profile.avatar %}
        <img
          src="{{ notification.user.profile.avatar.url }}"
          alt="Avatar"
          style="width: 40px; height: 40px; border-radius: 50%"
        />
        {% else %}
        <img
          src="{% static 'images/avatars/placeholder.png' %}"
          alt="Avatar"
          style="width: 40px; height: 40px; border-radius: 50%"
        />
        {% endif %}
      </div>

      <div class="notification-content">
        <span class="message">{{ notification.message }}</span>
        <div
          class="timestamp {% if not notification.is_read %}timestamp-green{% endif %}"
        >
          {{ notification.timestamp|date:"Y-m-d H:i" }}
        </div>
      </div>
    </div>
    {% empty %}
    <div class="notification-item pilarease-itrc-no-data">
      No notifications.
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
