{% extends "admin_tools/base_admin.html" %} {% load static %} {% load compress
%} {% block content %}
<h1>Dashboard</h1>
<div class="status-container">
  <form method="get" class="search-form">
    <input
      type="text"
      name="search"
      placeholder="Search..."
      value="{{ search_query }}"
    />
    <button type="submit">Search</button>
  </form>

  <table class="status-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts.object_list %}
      <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.subject }}</td>
        <td>{{ contact.message }}</td>
        <td>{{ contact.created_at|date:"Y-m-d" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not contacts.object_list %}
  <p>No contact us queries found.</p>
  {% endif %}
  <div class="pagination">
    <span class="step-links">
      {% if contacts.has_previous %}
      <a href="?search={{ search_query }}&page=1">&laquo; first</a>
      <a
        href="?search={{ search_query }}&page={{ contacts.previous_page_number }}"
        >previous</a
      >
      {% endif %}

      <span class="current">
        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
      </span>

      {% if contacts.has_next %}
      <a href="?search={{ search_query }}&page={{ contacts.next_page_number }}"
        >next</a
      >
      <a
        href="?search={{ search_query }}&page={{ contacts.paginator.num_pages }}"
        >last &raquo;</a
      >
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
