{% extends "admin_tools/base_admin.html" %} {% load static %} {% load compress
%} {% block content %}
<p></p>
<div
  class="pilarease-admin-dashboard-header"
  style="display: flex; justify-content: space-between; align-items: center"
>
  <h1 class="pilarease-admin-title">
    Data Management
    <i
      class="bx bx-info-circle pilarease-admin-info-icon"
      aria-label="More information about Status Management"
      tabindex="0"
    ></i>
    <span class="pilarease-admin-tooltip">
      Data Management page content goes here.
    </span>
  </h1>
</div>
{% endblock %}
