absl-py
accelerate
aiohttp
aiohttp-retry
aiosignal
aniso8601
asgiref
astunparse
attrs
autobahn
Automat
beautifulsoup4
better-profanity
blinker
boto3
botocore
branca
Brotli
certifi
cffi
channels
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
contourpy
crispy-bootstrap5
cryptography
cssselect2
cycler
datasets
diff-match-patch
dill
dj-database-url
Django
django-allauth
django-appconf
django-axes
django-cachebuster

django-cors-headers
django-crispy-forms
django-debug-toolbar
django-extensions
django-import-export
django-storages
django-widget-tweaks
docker-pycreds
docx
filelock
Flask
Flask-MySQL
Flask-MySQLdb
Flask-RESTful
Flask-SQLAlchemy
Flat
flatbuffers
fonttools
frozenlist
fsspec
gast
geopandas
git-filter-repo
gitdb
GitPython
gobject
google-pasta
greenlet
grpcio
gunicorn
h11
h2
h5py
hpack
hstspreload
html5lib
httpcore
httpx
huggingface-hub
hyperframe
hyperlink
idna
incremental
intel-openmp
itsdangerous
Jinja2
jmespath
joblib
kaleido
keras
kiwisolver
kombu
langdetect
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mkl
ml-dtypes
mpmath
msgpack
multidict
multiprocess
psycopg2-binary
supabase
django-environ
namex
networkx
nltk
numpy
opt-einsum
optree
packaging
pandas
pillow
platformdirs
plotly
plyer
prompt_toolkit
protobuf
psutil
psycopg2
pyaes
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pycparser
pydyf
Pygments
PyJWT
PyMySQL
pyodbc
pyogrio
pyOpenSSL
pyparsing
pyphen
pyproj
python-dateutil
pytz
PyYAML
rcssmin
regex
reportlab
requests
rfc3986
rich
rjsmin
rsa
s3transfer
sacremoses
safetensors
scikit-learn
scipy
seaborn
sentencepiece
sentry-sdk
service-identity
setproctitle
setuptools
shapely
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
sympy
tablib
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
textblob
tf_keras
threadpoolctl
tinycss2
tokenizers
torch
tqdm
transformers
Twisted
txaio
typing_extensions
tzdata
urllib3
vine
wandb
wcwidth
weasyprint
webencodings
Werkzeug
wheel
whitenoise
wordcloud
wrapt
XlsxWriter
xxhash
xyzservices
yarl
zope.interface
zopfli
amqp
