{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification Complete</title>
    <link rel="icon" href="{% static 'images/Icons/PilarEaseLogo.ico' %}" />

    <link rel="stylesheet" href="{% static 'css/credential.css' %}?v=1.0" />

  </head>
  <body>
    <svg class="curved-line" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path d="M0,0 C20,40 40,40 60,0" />
    </svg>
    <svg
      class="curved-line bottom-left"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <path d="M0,100 C30,70 70,70 100,100" />
    </svg>
    <svg
      class="curved-line bottom-right"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <path d="M0,100 C30,70 70,70 100,100" />
    </svg>
    <svg
      class="curved-line top-left"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <path d="M0,0 C30,30 70,30 100,0" />
    </svg>
    <div id="verification-container">
      <header id="verification-header">
        <img
          src="https://raw.githubusercontent.com/KCprsnlcc/Images/main/PilarLogo.png"
          alt="Pilar Logo"
        />
        <img
          src="https://raw.githubusercontent.com/KCprsnlcc/Images/main/PilarEaseLogo.png"
          alt="PilarEase Logo"
        />
        <span id="title">PilarEase</span>
      </header>

      <div id="verification-body">
        {% if verified %}
        <h2 style="color: #689e4b">Email Verification Successful</h2>
        <p>
          Your email has been successfully verified. You can now
          <a href="/" style="color: #689e4b">return to the homepage</a>.
        </p>
        {% elif verified_already %}
        <h2 style="color: #f39c12">Email Already Verified</h2>
        <p>
          Your email was already verified. You can now
          <a href="/" style="color: #689e4b">return to the homepage</a>.
        </p>
        {% elif invalid %}
        <h2 style="color: #e74c3c">Verification Failed</h2>
        <p>{{ message }}</p>
        <p>
          Please
          <a
            href="{% url 'request_email_verification' %}"
            style="color: #689e4b"
            >request a new verification link</a
          >.
        </p>
        {% endif %}
      </div>

      <footer id="verification-footer">
        <p id="randomTip">
          Tip: Keep your contact information up to date for smooth
          communication.
        </p>
      </footer>
    </div>

    <script src="{% static 'js/email.js' %}?v=1.0"></script>

  </body>
</html>
