{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification Complete</title>
    <link rel="stylesheet" href="{% static 'css/credential.css' %}?v=1.0" />
  </head>
  <body>
    <div id="verification-container">
      <header id="verification-header">
        <img
          src="https://raw.githubusercontent.com/KCprsnlcc/Images/main/PilarLogo.png"
          alt="Pilar Logo"
        />
        <img
          src="https://raw.githubusercontent.com/KCprsnlcc/Images/main/PilarEaseLogo.png"
          alt="PilarEase Logo"
        />
        <span id="title">PilarEase</span>
      </header>

      <div id="verification-body">
        {% if verified %}
        <h2 style="color: #689e4b">Email Verification Successful</h2>
        <p>
          Your email has been successfully verified. You can now
          <a href="/" style="color: #689e4b">return to the homepage</a>.
        </p>
        {% elif expired %}
        <h2 style="color: #e74c3c">Email Verification Expired</h2>
        <p>
          Unfortunately, the verification link has expired. Please request a new
          verification link.
        </p>
        {% elif invalid %}
        <h2 style="color: #e74c3c">Invalid Verification Link</h2>
        <p>
          The verification link is invalid or has already been used. Please
          request a new verification link.
        </p>
        {% endif %}
      </div>

      <footer id="verification-footer">
        <p>
          If you need assistance, contact us at
          <a href="mailto:support@pilarease.com">support@pilarease.com</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
