<!-- templates/home.html -->
{% extends "base.html" %} {% load static %} {% block content %}
<link
  href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Inter&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Beau+Rivage&display=swap"
  rel="stylesheet"
/>

<div class="container">
  <svg class="curved-line" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0,0 C20,40 40,40 60,0" />
  </svg>
  <svg
    class="curved-line bottom-left"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
  >
    <path d="M0,100 C30,70 70,70 100,100" />
  </svg>
  <svg
    class="curved-line bottom-right"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
  >
    <path d="M0,100 C30,70 70,70 100,100" />
  </svg>
  <svg
    class="curved-line top-left"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
  >
    <path d="M0,0 C30,30 70,30 100,0" />
  </svg>
  <div class="content">
    <span class="v1_118">Express your Emotion</span>
    <span class="v1_28"
      >Welcome to a space where your emotions matter, and your voice is valued.
      Welcome to the PilarEase's Portal at Pilar College of Zamboanga City,
      Inc.</span
    >
    <div class="image">
      <img src="{% static 'images/map.png' %}" alt="Map" />
      <!-- Update with correct static path -->
    </div>
    {% if user.is_authenticated %}
    <button class="v1_29" id="statuscomposer">
      <span class="v1_30">EXPRESS YOUR FEELINGS</span>
    </button>
    {% else %}
    <button class="v1_29" id="loginButton">
      <span class="v1_30">EXPRESS YOUR FEELINGS</span>
    </button>
    {% endif %}
  </div>
</div>
<div class="v1_124">
  <div id="recent" class="v1_128">
    <span class="v1_129 active">Recents</span>
  </div>
  <div id="popular" class="v1_126"><span class="v1_127">Popular</span></div>
  <div id="sadness" class="v1_130"><span class="v1_131">Sadness</span></div>
  <div id="happiness" class="v1_132"><span class="v1_133">Happiness</span></div>
  <div id="fear" class="v1_134"><span class="v1_135">Fear</span></div>
  <div id="anger" class="v1_136"><span class="v1_137">Anger</span></div>
  <div id="surprise" class="v1_138"><span class="v1_139">Surprise</span></div>
  <div id="disgust" class="v1_140"><span class="v1_141">Disgust</span></div>
</div>
<div class="container5" id="boxContainer"></div>

<!-- Modal Overlay -->
<div id="statusModalOverlay" class="modal-overlay"></div>

<!-- Status Composer Modal -->
<div id="statusModal" class="modal-content status">
  <span class="close" id="closeStatusModal">&times;</span>
  <form id="statusForm" method="post" action="{% url 'submit_status' %}">
    {% csrf_token %}
    <div class="status-form">
      <label for="feelings">What's your feeling?</label>
      <div class="feeling-icons">
        <div class="feeling-icon">
          <img src="{% static 'images/feelings/Sadness.png' %}" alt="Sadness" />
          <div class="tooltip feelings">Sadness</div>
        </div>
        <div class="feeling-icon">
          <img
            src="{% static 'images/feelings/Happiness.png' %}"
            alt="Happiness"
          />
          <div class="tooltip feelings">Happiness</div>
        </div>
        <div class="feeling-icon">
          <img src="{% static 'images/feelings/Fear.png' %}" alt="Fear" />
          <div class="tooltip feelings">Fear</div>
        </div>
        <div class="feeling-icon">
          <img src="{% static 'images/feelings/Anger.png' %}" alt="Anger" />
          <div class="tooltip feelings">Anger</div>
        </div>
        <div class="feeling-icon">
          <img
            src="{% static 'images/feelings/Surprise.png' %}"
            alt="Surprise"
          />
          <div class="tooltip feelings">Surprise</div>
        </div>
        <div class="feeling-icon">
          <img src="{% static 'images/feelings/Disgust.png' %}" alt="Disgust" />
          <div class="tooltip feelings">Disgust</div>
        </div>
      </div>
      <label for="caption">Write a brief caption</label>
      <input
        type="text"
        id="caption"
        name="title"
        placeholder="How do you feel about..."
      />
      <label for="description">Describe your feelings</label>
      <div class="formatter-container">
        <div class="formatter-buttons">
          <select onchange="formatText('fontName', this.value)">
            <option value="Arial">Arial</option>
            <option value="Courier New">Courier New</option>
            <option value="Georgia">Georgia</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Verdana">Verdana</option>
          </select>
          <select onchange="formatText('fontSize', this.value)">
            <option value="1">8px</option>
            <option value="2">9px</option>
            <option value="3">10px</option>
            <option value="4">11px</option>
            <option value="5">12px</option>
            <option value="6">14px</option>
            <option value="7">16px</option>
            <option value="8">18px</option>
            <option value="9">22px</option>
            <option value="10">24px</option>
          </select>
          <button type="button" onclick="formatText('bold')">
            <i class="bx bx-bold"></i>
          </button>
          <button type="button" onclick="formatText('italic')">
            <i class="bx bx-italic"></i>
          </button>
          <button type="button" onclick="formatText('underline')">
            <i class="bx bx-underline"></i>
          </button>
          <button type="button" onclick="formatText('strikeThrough')">
            <i class="bx bx-strikethrough"></i>
          </button>
          <button type="button" onclick="formatText('insertUnorderedList')">
            <i class="bx bx-list-ul"></i>
          </button>
          <button type="button" onclick="formatText('insertOrderedList')">
            <i class="bx bx-list-ol"></i>
          </button>
          <button type="button" onclick="formatText('justifyLeft')">
            <i class="bx bx-align-left"></i>
          </button>
          <button type="button" onclick="formatText('justifyCenter')">
            <i class="bx bx-align-middle"></i>
          </button>
          <button type="button" onclick="formatText('justifyRight')">
            <i class="bx bx-align-right"></i>
          </button>
          <button type="button" onclick="formatText('justifyFull')">
            <i class="bx bx-align-justify"></i>
          </button>
          <input
            type="color"
            onchange="formatText('foreColor', this.value)"
            title="Text Color"
          />
          <input
            type="color"
            onchange="formatText('hiliteColor', this.value)"
            title="Background Color"
          />
        </div>
        <div
          id="description"
          class="editable-div placeholder"
          contenteditable="true"
          placeholder="Express your feelings..."
        ></div>
      </div>
      <button type="submit">Share Your Feelings</button>
    </div>
    <div id="statusLoader" class="status-loader" style="display: none"></div>
    <div id="statusOverlay" class="status-overlay" style="display: none"></div>
  </form>
  <!-- Error Dialog -->
  <div
    id="statusNotificationError"
    class="flat-ui-dialog error"
    style="display: none"
  >
    <div id="statusNotificationErrorContent"></div>
  </div>

  <!-- Confirmation Dialog -->
  <div id="ConfirmStatusModal" class="flat-ui-dialog confirmstatus">
    <p>Are you sure you want to post this?</p>
    <button id="confirmBtn">Confirm</button>
    <button id="cancelBtn">Cancel</button>
  </div>

  <!-- Success Dialogs -->
  <div
    id="statusNotificationSuccess"
    class="flat-ui-dialog success"
    style="display: none"
  >
    <div id="statusNotificationSuccessContent"></div>
  </div>
</div>

{% endblock %}
