{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PilarEase | A Portal for Guidance Counseling Support System at Pilar College of Zamboanga City, Inc.</title>
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Beau+Rivage&display=swap" rel="stylesheet" />
    <img src="{% static 'assets/images/PilarEaseLogo.ico' %}" alt="PilarEase Logo">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="container">
    </div>
    <div class="v1_124">
    </div>
    <div id="dialogOverlay"></div>
    <div id="dialogBox">
        <div id="dialogContent">
            <span id="dialogClose">&times;</span>
        </div>
    </div>
    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>
