{% load static %} {% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Your Password</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/credential.css' %}?v=1.0" />
    {% endcompress %}
  </head>
  <body>
    <div id="reset-container" class="transition-container">
      <div id="reset-header">
        <img
          src="https://raw.githubusercontent.com/KCprsnlcc/Images/main/PilarLogo.png"
          alt="Pilar Logo"
        />
        <img
          src="https://raw.githubusercontent.com/KCprsnlcc/Images/main/PilarEaseLogo.png"
          alt="PilarEase Logo"
        />
        <span id="title">PilarEase</span>
      </div>
      <div id="reset-body">
        {% if validlink %}
        <h2 style="color: rgb(104, 158, 75)">Reset Your Password</h2>
        <p>
          Your password must be at least 8 characters long, contain both
          uppercase and lowercase letters, include at least one numeric digit,
          and one special character.
        </p>
        <form id="resetPasswordForm" method="post">
          {% csrf_token %}
          <input
            type="password"
            name="new_password"
            placeholder="New Password"
            required
          />
          <input
            type="password"
            name="new_password_confirm"
            placeholder="Confirm Password"
            required
          />
          <button type="submit" class="btn">Reset Password</button>
        </form>
        {% else %}
        <p style="color: #ff0000">The reset link is invalid or has expired.</p>
        {% endif %}

        <!-- Loader Overlay -->
        <div id="resetpassOverlay">
          <div id="resetpassLoader"></div>
        </div>

        <!-- Error Notification Dialog -->
        <div id="resetPasswordErrorBox" class="flat-ui-dialog error">
          <div id="resetPasswordErrorContent"></div>
        </div>
      </div>
    </div>

    {% compress js %}
    <script src="{% static 'js/credential.js' %}?v=1.0"></script>
    {% endcompress %}
  </body>
</html>
