{% load i18n %} {% load static %} {% blocktrans %} Hello {{ user.get_full_name
}}, You're receiving this email because you requested a password reset for your
user account at {{ site_name }}. {% endblocktrans %} {% blocktrans %} Please go
to the following page and choose a new password: {% endblocktrans %}

<a href="{{ reset_link }}">{{ reset_link }}</a>

{% blocktrans %} Your username, in case you've forgotten: {{ user.get_username
}}. Thank you for using our site! The {{ site_name }} team {% endblocktrans %}
