{% load static %} {% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Complete</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/credential.css' %}?v=1.0" />
    {% endcompress %}
  </head>
  <body>
    <div id="reset-container">
      <header id="reset-header">
        <img
          src="https://raw.githubusercontent.com/KCprsnlcc/Images/main/PilarLogo.png"
          alt="Pilar Logo"
        />
        <img
          src="https://raw.githubusercontent.com/KCprsnlcc/Images/main/PilarEaseLogo.png"
          alt="PilarEase Logo"
        />
        <span id="title">PilarEase</span>
      </header>

      <div id="reset-body">
        <h2 style="color: #689e4b">Password Reset Complete</h2>
        <p>
          Your password has been successfully reset. You can now
          <a href="/" style="color: #689e4b">return to the homepage</a>.
        </p>
      </div>

      <footer id="reset-footer">
        <p id="randomTip">
          Tip: Consider using a password manager to securely store and manage
          your passwords.
        </p>
      </footer>
    </div>

    {% compress js %}
    <script>
      // List of random tips
      const tips = [
        "Use a combination of letters, numbers, and special characters for a strong password.",
        "Avoid using the same password for multiple accounts.",
        "Consider using a password manager to store and manage your passwords securely.",
        "Change your passwords regularly, especially for sensitive accounts.",
        "Never share your passwords with anyone.",
      ];

      // Function to display a random tip with pop-in animation
      function displayRandomTip() {
        const randomIndex = Math.floor(Math.random() * tips.length);
        const randomTipElement = document.getElementById("randomTip");
        randomTipElement.classList.remove("pop-in");
        void randomTipElement.offsetWidth; // Trigger reflow to restart the animation
        randomTipElement.classList.add("pop-in");
        randomTipElement.innerText = `Tip: ${tips[randomIndex]}`;
      }

      // Set interval to change the tip every 3 seconds
      setInterval(displayRandomTip, 3000);
    </script>
    {% endcompress %}
  </body>
</html>
